* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

button {
    cursor: pointer;
    transition: .4s;
    border: none;
    outline: none;
}

.textError {
    padding: 100px 0 0 0;
    color: red;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    display: none;
}

.general {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.general-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-group input {
    width: 300px;
    padding-left: 20px;
    height: 45px;
    margin-bottom: 25px;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    border: 2px solid silver;
}

.btn {
    padding: 15px 25px;
    font-size: 15px;
    color: white;
    background: black;
    border-radius: 20px;
    border: 2px solid silver;
}

.btn:hover {
    background: darkblue;
}

.general-text h2 {
    padding: 0 0 25px 0;
    font-size: 25px;
}
















